In [1]:
import pandas as pd

**Es el momento de poner en pr√°ctica los groupbyde pandas. Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.**
**El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:**

In [2]:
attackito_supremo= pd.read_csv("./attackito_supremo.csv", index_col = 0)
attackito_supremo.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

**1. ¬øCu√°ntos ataques hubo por pa√≠s? Devuelve un dataframe.**
>**üìå NOTA Ordena los resultados de mayor a menor. Esto todav√≠a no lo hemos visto, pero un dataframe lo podemos ordenar con .sort_values(). Aqu√≠ ten√©is una explicaci√≥n de como hacerlo.**

In [3]:
ataques_pais = attackito_supremo.groupby("country")["type"].count().sort_values(ascending= False).reset_index().rename({"type": 'numero_ataques'}, axis=1)
ataques_pais.head()

            country  numero_ataques
0               USA            2222
1         AUSTRALIA            1334
2      SOUTH AFRICA             577
3  PAPUA NEW GUINEA             134
4       NEW ZEALAND             127

**2. ¬øCu√°ntos ataques ha habido por a√±o? Devuelve un dataframe. De nuevo ordena los resultados de mayor a menor.**

In [4]:
ataques_a√±o = attackito_supremo.groupby("year")["country"].count().sort_values(ascending= False).reset_index().rename({"country": 'numero_ataques'}, axis=1)
ataques_a√±o.head()

     year  numero_ataques
0  2015.0             143
1  2017.0             135
2  2016.0             130
3  2011.0             128
4  2014.0             125

**3. ¬øCu√°ntos ataques hubo por a√±o y sexo? Devolved un dataframe solo del a√±o 2000 en adelante.**

In [6]:
atak_a√±osysex = attackito_supremo.groupby(['year', 'sex_'])["case_number"].count().reset_index().rename({"case_number": 'numero_ataques'}, axis=1)
atak_a√±osysex = atak_a√±osysex[atak_a√±osysex["year"] >=2000]
atak_a√±osysex.head(3)

       year sex_  numero_ataques
311  2000.0    F              12
312  2000.0    M              74
313  2001.0    F              13

**4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. ¬øCu√°ntos de los ataques fueron letales por sexo? Devuelve un dataframe**

In [ ]:
#Condici√≥n üëÜüèº
ataques_paises = attackito_supremo[(attackito_supremo["country"] == "AUSTRALIA")| (attackito_supremo["country"] == "USA")| (attackito_supremo["country"] == "SOUTH AFRICA")]

Index(['case number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex ', 'age', 'time', 'species ', 'fatal (y/n)',
       'injury', 'date'],
      dtype='object')

In [ ]:
#Creamos DF dada la condici√≥n anterior üôã‚Äç‚ôÄÔ∏èüî™
sexo_letal= ataques_paises.groupby(["sex ","fatal (y/n)"])["case number"].count().sort_values(ascending= False).reset_index().rename({"case number": 'numero_ataques'}, axis=1)
sexo_letal.head()

  sex  fatal (y/n)  numero_ataques
0    M           N            2536
1    M           Y             533
2    F           N             368
3    F           Y              35
4    M     UNKNOWN              21

**5. Usando el dataframe creado en el ejercicio anterior. ¬øEn que pais hubo m√°s ataques?**

In [ ]:
#Condici√≥nüëÜüèº
ataques_paises = attackito_supremo[(attackito_supremo["country"] == "AUSTRALIA")| (attackito_supremo["country"] == "USA")| (attackito_supremo["country"] == "SOUTH AFRICA")]

In [ ]:
max_ataques = ataques_paises.groupby(["country"])["case number"].count().sort_values(ascending= False).reset_index().rename({"case number": 'numero_ataques'}, axis=1)
max_ataques
#En USA es donde ha habido m√°s ataques
#Podemos usar otra opci√≥n con max. en "case number"

        country  numero_ataques
0           USA            2221
1     AUSTRALIA            1335
2  SOUTH AFRICA             577

**6. ¬øQu√© y cu√°ntos tipos de ataques hubo por pais?**

In [ ]:
whatype= attackito_supremo.groupby(["type", "country"])["case number"].count().reset_index().rename({"case number": 'numero_ataques'}, axis=1)
whatype.head(3)

   type    country  numero_ataques
0  Boat  AUSTRALIA              39
1  Boat     AZORES               1
2  Boat    BERMUDA               1