**En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.**

**Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:**

In [13]:
import pandas as pd
import regex as re
import numpy as np 
import datetime

attackito_supremo= pd.read_csv("./attackito_supremo.csv", index_col = 0)
nuevas_columnas = {col: col.lower().replace(" ", "_") for col in attackito_supremo}
attackito_supremo.rename(columns = nuevas_columnas, inplace = True)
attackito_supremo.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

**1. Cread una columna nueva y una funci√≥n que nos el mes donde ocurri√≥ el ataque. Tened en cuenta que no todos las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).**

**üí° Pista üí°Pod√©is usar regex.**

In [16]:
patron= r"\b\w{3}\b"

string=  "25-Jun-2018"

In [19]:
re.findall(patron,string)[0]

'Jun'

In [27]:
attackito_supremo["date"].unique

<bound method Series.unique of 0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6279    Before 1903
6280    Before 1903
6281      1900-1905
6282      1883-1889
6283      1845-1853
Name: date, Length: 6284, dtype: object>

In [20]:
def sacar_mes(col):
    patron= r"\b\w{3}\b"
    try:
        return re.findall(patron,col)[0]
    except:
        return np.nan #para generar un nulo

In [21]:
attackito_supremo["fecha_limpia"]= attackito_supremo["date"].apply(sacar_mes)

In [22]:
attackito_supremo.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date,fecha_limpia
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018,Jun

**2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no es as√≠ üò≠. Cread y una columna nueva y una funci√≥n que devuelva unicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.**

In [10]:
df_as = attackito_supremo.copy()

In [31]:
df_as.head(1)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [32]:
df_as['fatal_(y/n)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

Usamos .replace y .strip para igualar todos los valores unicos que sean Y y N aunque est√©n escritos de diferente forma

In [33]:
def fatal():
    try:
        col = col.strip().lower()

        if col == "N" or col == "M":
            return "N"

        elif col =="Y":
            return "Y"
        else:
            return np.nan

    except:
        return np.nan

In [ ]:
df_as['fatal_2.0'] = df_as['fatal_(y/n)'].apply(fatal)
df_as.head (8)

**3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).**

**4. Una vez que hayais terminado eliminad las columnas originales conserv√°nd las nuevas.**